<!DOCTYPE html>
<html lang="en">
   <!-- Basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- Site Metas -->
   <title>E-transport</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="../static/css/HomeStyle/bootstrap.min.css">
   <!-- Site CSS -->
   <link rel="stylesheet" href="../static/css/HomeStyle/style.css">
   <!-- Colors CSS -->
   <link rel="stylesheet" href="../static/css/HomeStyle/colors.css">
   <!-- ALL VERSION CSS -->
   <link rel="stylesheet" href="../static/css/HomeStyle/versions.css">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="../static/css/HomeStyle/responsive.css">
   <!-- building CSS -->
   <link rel="stylesheet" href="../static/css/HomeStyle/building.css">
   </head>
   <body class="building_version" data-spy="scroll" data-target=".header">
        {% block content %}
            
        {% endblock %}   
   </body>
</html>

